body {
    background-color: goldenrod;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.linkContainer a {
    margin: 1em;
}

.puppyContainer {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.puppyContainer img {
    width: 500px;
    margin: 1em;
}